Repository robinmordasiewicz/ubuntu: changes, and which Jenkins stages are due for each by the changed paths.
All: Push Container, Get sha, git-commit

Push Container:
        steps {
          container(name: 'kaniko', shell: '/busybox/sh') {
            script {
              sh '''
              /kaniko/executor --dockerfile=Dockerfile \
                               --context=git://github.com/robinmordasiewicz/ubuntu.git \
  ...

Get sha:
        steps {
            sh 'echo "--------------before getting latest sha-----------------------"'
            sh 'cat VERSION.sha256'
          container('ubuntu') {
  ...

git-commit:
        steps {
          sh 'git config user.email "robin@mordasiewicz.com"'
          sh 'git config user.name "Robin Mordasiewicz"'
          sh 'git add .'
          sh 'git commit -m "`cat VERSION`"'
          withCredentials([gitUsernamePassword(credentialsId: 'github-pat', gitToolName: 'git')]) {
  ...

0.6.1
  Jenkinsfile
  VERSION
  deployment.yaml
Due: Push Container, Get sha

0.6.1
  Jenkinsfile.orig
Due: none

0.6.1
  Jenkinsfile
Due: none

0.6.2
  Jenkinsfile
  VERSION
  deployment.yaml
Due: Push Container, Get sha

0.6.2
  Jenkinsfile
Due: none

0.6.2
  VERSION.sha256
Due: git-commit

0.6.3
  Jenkinsfile.orig
  README.md
  VERSION
  deploy.sh
  deployment.yaml
  increment-version.sh
Due: Push Container, Get sha

0.6.3
  VERSION.sha256
Due: git-commit

0.6.4
  .gitignore
  Jenkinsfile
  VERSION
  deployment.yaml
Due: Push Container, Get sha

0.6.4
  Jenkinsfile
Due: none

0.6.4
  VERSION.sha256
Due: git-commit

0.6.5
  Jenkinsfile
  VERSION
  deployment.yaml
Due: Push Container, Get sha

0.6.5
  VERSION.sha256
Due: git-commit

0.6.6
  Jenkinsfile
  VERSION
  deployment.yaml
Due: Push Container, Get sha

0.6.7
  Jenkinsfile.orig
  VERSION
  deployment.yaml
Due: Push Container, Get sha

0.6.7
  README.md
Due: none

0.6.7
  Jenkinsfile
Due: none

0.6.7
  VERSION.sha256
Due: git-commit

0.6.7
  Dockerfile
Due: none

0.6.8
  VERSION
  deployment.yaml
Due: Push Container, Get sha

0.6.8
  Dockerfile
Due: none

Path conditions:
  Push Container: any of: VERSION
  Get sha: any of: VERSION
  git-commit: any of: VERSION.sha256
